@page
@model FrontendRazor.Pages.IndexModel
@{
    ViewData["Title"] = "Liste des patients";
}

<h2>Liste des patients</h2>

@if (Model.IsAuthenticated && Model.IsAuthorized)
{
    if (Model.Patients != null && Model.Patients.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de Naissance</th>
                    <th>Sexe</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var patient in Model.Patients)
                {
                    <tr>
                        <td>@patient.Nom</td>
                        <td>@patient.Prenom</td>
                        <td>@patient.DateDeNaissance.ToShortDateString()</td>
                        <td>@patient.Genre</td>
                        <td class="col">
                            <div class="d-flex ">
                            <form method="post" asp-page-handler="RedirectToDonneesPatient" class=" me-2">
                                <input type="hidden" name="patientId" value="@patient.Id" />
                                <button type="submit" class="btn btn-update">Mise à jour</button>
                            </form>                       
                       
                            <form method="post" asp-page-handler="RedirectToPatientNotes">
                                <input type="hidden" name="patientId" value="@patient.Id" />
                                <button type="submit" class="btn btn-notes">Notes du patient</button>
                            </form>
                            </div>
                        </td>                       
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No patients found.</p>
    }
}
else
{
    <p>Vous devez être connecté en tant qu'organisateur ou praticien pour voir la liste des patients.</p>
}
